.posts-video {
  height: 28rem;
  width: 25rem;
  margin-bottom: 1rem;
  position:relative;
}

.fa{
    position: absolute;
    bottom:1.5rem;
    left:5rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.chat-icon{
    position: absolute;
    bottom:0.3rem;
    left:7rem;
    color:lightgrey;
}



.posts-video-container{
    height: 90vh;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.posts-video-container::-webkit-scrollbar{
    display:none;
}

.modal-container{
    height:70vh;
    display: flex;
}

.modal-video-container{
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid lightgrey;
}

.modal-video-container video{
    height:100%;
    width:100%
}

.comment-container{
    width:50%;
}

.comments{
    height:73%;
    width:100%;
    /* overflow:scroll; */
    overflow-y: auto;
    /* scroll-snap-type: y mandatory; */
    scrollbar-width: none;
    padding-left:0.5rem;

}

.comment-write-area{
    height:25%;
    width:100%;
    padding-left:0.5rem;
}